<div class="articles" ng-if="$ctrl.articles.length">
    <div class="articles_set" ng-repeat="article in $ctrl.articles | limitTo : filter" ng-click="$ctrl.onSelect(article)">
        <img src={{article.multimedia[4].url}}>
        <a href={{article.url}}>{{article.title}}</a>
        <p class="list-group-item-text">{{article.abstract}}</p>
    </div>

    <div class="filter">
        <h2>Filter count of news</h2>
        <input class="input_form" style="width: 80%" type="text" ng-model="filter"></input>
    </div>
</div>