<!DOCTYPE html>
<html ng-app="app">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List of Posts</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="vendor/angular.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>

<body ng-controller="MainCtrl">
    <div class="b_header" ng-controller="FormCtrl">
        <div class="logo">
            <img src="static/logo.svg">
        </div>
        <div class="row_button" ng-class="{'button_add': is_articleAdded}">
            <button class="Button" ng-click="is_articleAdded = true;">Add Article</button>
        </div>
        <div class="wrap_form" ng-show="is_articleAdded">
            <label class="name_input">Title</label>
            <input class="input_form" type="text" ng-model="article_adding.title">
            <label class="name_input">Body</label>
            <textarea class="input_form" type="text" ng-model="article_adding.abstract"></textarea>
            <label class="name_input">Link</label>
            <input class="input_form" ng-model="article_adding.url"" type="text">
            <div>
                <button ng-click="saveArticle();">Save</button>
                <button ng-click="is_articleAdded = false;">Cancel</button>
            </div>
        </div>
    </div>
    <div class="articles">
        <div class="articles_set" ng-repeat="article in articles">
            <img src={{article.multimedia[4].url}}>
            <a href={{article.url}}>{{article.title}}</a>
            <p class="list-group-item-text">{{article.abstract}}</p>
        </div>
    </div>
    <script src="scripts/app.js"></script>
</body>

</html>